.advantages {
  position: relative;
  margin-top: 0;
  background-color: @whiteback;
  z-index: 4;
  background-image: url(../img/grey-background.svg);
  background-repeat: no-repeat;
  background-position: 50% 220px;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    background-position: 50% 230px;
  }

  @media (min-width: @desktop-width) {
    background-position: 100% 355px;
    background-size: cover;
  }
}

.advantages__wrapper {
margin: 0 auto;
  max-width: 400px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    min-width: 620px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    max-width: 1000px;
    z-index: 1;
    margin-top: -73px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.advantages__describe-efect-wrapper {
  display: flex;
}

.advantages__advantages-offer {
  position: relative;
  background-color: @whiteback;
  z-index: 3;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    max-width: 800px;
  }
}

.advantages__offer-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-top: 46px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin-top: 58px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    min-width: 780px;
    padding-top: 77px;
  }
}

.advantages__offer-title-propose {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    min-width: 780px;
    padding-bottom: 77px;
  }
}


.advantages__list {
  list-style: none;
  margin-top: 123px;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 0;

    &:first-child {
      margin-top: 73px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.advantages__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}

.advantages__title {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 14px;
  color: @black;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  color: @black;

  @media (min-width: @tablet-width) {
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    z-index: 2;
    background-color: @greybackground;
    padding-top: 59px;
    text-align: center;
  }
}

.advantages__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @darkbluetextcolor;
  text-align: center;
  margin: 0;
  margin-bottom: 43px;
  color: @darkbluetextcolor;

  @media (min-width: @tablet-width) {
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__iphone {
  width: 157px;
  height: 320px;
  display: flex;
  align-content: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 547px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__describe-efect {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 0 20px;
    min-width: 620px;
    background-color: @whiteback;
    display: flex;
    z-index: 2;
    margin-top: -73px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
    padding-bottom: 67px;
    margin-top: 0;
    background-color: @greybackground;
  }
}

.advantages__describe-efect-container {
  display: flex;
  flex-direction: column;
}

.advantages__describe-efect-title {
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
color: @black;
margin-right: 170px;
margin-top: 102px;
}

.advantages__tablet-desktop-width {

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__clock {
  display: block;
  margin-top: 54px;
  margin-right: 71px;
  width: 100%;

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-top: 59px;
  }
}

.advantages__clock img {

  @media (min-width: @tablet-width) {
    width: 238px;
  }

  @media (min-width: @desktop-width) {
  width: 298px;
}
}

.advantages__item {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
  }
}

.advantages__item-photo {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 54px;
    z-index: 1;
    margin-bottom: -50px;
  }
}

.advantages__about-research {

    @media (min-width: @tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-decoration-line: underline;
    color: @pinkred;
  }
}
