.catalog {
  background-color: @whiteback;
}

.catalog__catalog-wrapper {
  min-width: 280px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
    margin: 0 130px;
  }
}

.catalog__catalog-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @whiteback;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.catalog__photos-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__user-photo {
  margin: 0;
}

.catalog__catalog-describe {
  color:@darkbluetextcolor;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.catalog__author-name {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @darkbluetextcolor;
}

.catalog__photos-time {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @darkbluetextcolor;
}

.catalog__text {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @darkbluetextcolor;
}

.catalog__photos-likes {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: @pinkred;
}

.catalog__catalog-describe-bottom {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: @darkbluetextcolor;
}

