.catalog {
  background-color: @whiteback;
}

.catalog__photos-list {
  list-style: none;
}

.catalog__catalog-describe {
  color:@darkbluetextcolor;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.catalog__author-name {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @darkbluetextcolor;
}

.catalog__photos-time {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @darkbluetextcolor;
}

.catalog__text {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @darkbluetextcolor;
}

.catalog__photos-likes {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: @pinkred;
}

.catalog__catalog-describe-bottom {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: @darkbluetextcolor;
}
