.contacts {
  background-color: @whiteback;
}

.contacts__title {
  font-size: 24px;
  text-align: center;
  color: @darkbluetextcolor;
}

.contacts__item {
  list-style: none;
}

span {
  color: @black;
  text-align: center;
}


.contacts {
  &__phone,
  &__mail,
  &__our-contacts {color: @pinkred;
  text-align: center;}
}
