.download-aplication {
  background-color: @blueback;
}

.download-header__slogan {
  color: @whiteback;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.download-aplication__accessibility {
  font-size: 14px;
  line-height: 24px;
  color: @whiteback;
}

.download-aplication__download {
  color: @whiteback;
  font-size: 18px;
  line-height: 18px;
}

.dowload-aplication__list {
  list-style: none;
}
