.download-aplication__download-systems {
  position: relative;
  margin-bottom: 0;
  background: url(../img/phone-in-hand.png) 0% 110px no-repeat scroll, url(../img/back-mobile.jpg) 50% -66px no-repeat scroll;
  @media (min-resolution: 2dppx) {
    background: url(../img/phone-in-hand2x.png) 0% 110px no-repeat scroll, url(../img/back-mobile2x.jpg) 50% -66px no-repeat scroll;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0;
    background: url(../img/phone-in-hand-tablet.png) 0% 110px no-repeat scroll, url(../img/back-tablet.jpg) 50% -110px no-repeat scroll;
    @media (min-resolution: 2dppx) {
      background: url(../img/phone-in-hand-tablet2x.png) 0% 110px no-repeat scroll, url(../img/back-tablet2x.jpg) 50% -110px no-repeat scroll;
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    background: url(../img/phone-in-hand-desk.png) 146px 110px no-repeat scroll, url(../img/back-desktop.jpg) 50% -110px no-repeat scroll;
    @media (min-resolution: 2dppx) {
      background: url(../img/phone-in-hand-desk@2x.png) 0% 110px no-repeat scroll, url(../img/back-desktop@2x.jpg) 50% -110px no-repeat scroll;
      background-size: cover;
    }
  }
}

.download-aplication {
  background-color: @blueback;
}

.download-aplication__wrapper {
  width: 87%;
  margin: 0 20px;
  margin-top: 0;
  background-color: transparent;

  @media (min-width: @tablet-width){
    width: 48%;
    margin-bottom: 119px;
  }

  @media (min-width: @desktop-width) {
    width: 31%;
    margin-left: 130px;
  }
}

.download-header__slogan {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  color: @whiteback;
  font-weight: 300;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  padding-top: 29px;
  margin-bottom: 320px;
  margin-top: 0;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    padding-top: 102px;
    margin-bottom: 39px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
    margin-bottom: 51px;
  }
}

.download-slogan-viev {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.download-aplication__download {
  display: block;
  color: @whiteback;
  font-family: Open Sans;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 21px 48px;
  margin-bottom: 38px;


  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.dowload-aplication__list {
  padding-top: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    justify-content: space-around;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.download-aplication__accessibility {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @whiteback;
  text-align: center;
  margin-top: 31px;
  padding-bottom: 38px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    padding-bottom: 137px;
  }
}
