.forms {
  background-color: @whiteback;
  width: 100%;
}

<<<<<<< HEAD
.forms__wrapper {
  margin: 0 20px;


  @media (min-width: @desktop-width) {
    margin: 0 130px;
  }
}

.forms__main-form {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
  }
}

||||||| a0bffda
=======
.forms__wrapper {
  @media (min-width: @tablet-width) {
    min-width: 620px;
  margin: 0 20px;
}
  @media (min-width: @desktop-width) {
    margin: 0 130px;
  }
}


.forms__form-title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  display: block;
  padding-top: 102px;
  padding-bottom: 51px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: @whiteback;
  background-image: url(../img/back-mobile.jpg);
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-image: url(../img/back-tablet.jpg);
    padding-top: 191px;
    padding-bottom: 74px;
    font-size: 50px;
    line-height: 58px;
    background-size: unset;
  }

  @media (min-width: @desktop-width) {
    background-image: url(../img/back-desktop.jpg);
    padding-top: 184px;
  }
}

.forms__main-form {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
    column-gap: 74px;
  }
}

>>>>>>> master
.forms__competition-describe {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @darkbluetextcolor;
<<<<<<< HEAD
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 130px;
  }
||||||| a0bffda
=======
  margin: 0 20px;
  padding-top: 54px;
  padding-bottom: 55px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 130px;
  }
}

.forms__passport {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  order: 1;
  margin-bottom: 44px;
  padding-bottom: 0;
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    min-width: 526px;
    max-width: 800px;
  }

  @media (min-width: @desktop-width) {
    min-width: auto;
  margin: 0;
  margin-top: 11px;
  padding: 0;
  }
>>>>>>> master
}

<<<<<<< HEAD
.forms__passport {
  display: flex;
  flex-direction: column;
  justify-content: start;
  order: 1;
}

.forms__passport label {
||||||| a0bffda
.forms__surname-label {
=======
.forms__passport-form {
margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.forms__passport-form label {
>>>>>>> master
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
  color: @pinkred;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-bottom: 17px;
||||||| a0bffda
=======
  padding-bottom: 17px;
||||||| merged common ancestors
  padding-bottom: 17px;
=======
  padding-bottom: 23px;
>>>>>>> module6-task3
  margin-left: 23px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
    padding-top: 26px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-left: 0;
  }
>>>>>>> master
}

<<<<<<< HEAD
.forms__passport input {
||||||| a0bffda
.forms {
  &__middle-name-label,
  &__name-label,
  &__surname-input {
=======
.forms__passport-form input {
<<<<<<< HEAD
  display: block;
>>>>>>> master
  font-size: 14px;
  text-transform: uppercase;
||||||| merged common ancestors
  display: block;
  font-size: 14px;
  text-transform: uppercase;
=======
  font-size: 18px;
>>>>>>> module6-task3
  color: @pinkred;
<<<<<<< HEAD
<<<<<<< HEAD
  min-width: 280px;
||||||| a0bffda
=======
  min-width: 276px;
>>>>>>> master
||||||| merged common ancestors
  min-width: 276px;
=======
>>>>>>> module6-task3
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD

    @media (min-width: @tablet-width) {
      display: inline;
      min-width: 521px;
    }
}

.forms__passport input::placeholder {
  font-size: 18px;
  line-height: 30px;
}

.forms__achievements-wrapper {
  order: 2;
  @media (min-width: @tablet-width) {
    order: 4;
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
||||||| a0bffda
=======
  padding-top: 23px;
  padding-bottom: 23px;
||||||| merged common ancestors
  padding-top: 23px;
  padding-bottom: 23px;
=======
  height: 55px;
  padding-top: 0;
  padding-bottom: 0;
>>>>>>> module6-task3
  padding-left: 20px;
  border: 2px solid @borderlightgray;
  border-radius: 1px;
  width: 90%;

    @media (min-width: @tablet-width) {
      margin-left: 0;
    }

    @media (min-width: @desktop-width) {
      margin-right: 0;
      min-width: 336px;
    }
}

.forms__passport input::placeholder {
  font-size: 18px;
  line-height: 30px;
}

.forms__achievements-wrapper {
  background-color: @greybackground;
  order: 2;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    order: 4;
    background-color: @whiteback;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: @whiteback;
<<<<<<< HEAD
>>>>>>> master
||||||| merged common ancestors
=======
    margin-top: 0;
>>>>>>> module6-task3
  }
}

.forms__achievements {
  min-width: 280px;
  margin: 0 20px;
  background-color: @greybackground;
<<<<<<< HEAD

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

.forms__burnt-lable {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.forms__souvenir-lable {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
||||||| a0bffda
=======

  @media (min-width: @tablet-width) {
    background-color: @whiteback;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: @whiteback;
  }
}

.forms__burnt-lable {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.forms__souvenir-lable {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
>>>>>>> master
}

.forms__achievements-describe {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pinkred;
  padding-top: 42px;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-left: 31px;
    padding-right: 31px;
  }
}

.forms__achievements label {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: @darkbluetextcolor;
  margin-bottom: 69px;
  margin-left: 59px;
}

.forms__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.forms__input::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: -57px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.forms__input:checked::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 10px;
  left: -50px;
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  border: none;
}

.forms__input:checked::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: -57px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.forms__contacts-wrapper {
  margin-top: 13px;
  margin-bottom: 44px;
  order: 3;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 0;
    margin-bottom: 64px;
  }
}

<<<<<<< HEAD
.forms__contacts-wrapper {
  order: 3;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.forms__contacts-title {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: @pinkred;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.forms__contacts-form {
||||||| a0bffda
.forms__contcts-form {
=======
.forms__contacts-title {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: @pinkred;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-left: 31px;
    padding-right: 31px;
    margin-bottom: 61px;
  }
}

.forms__contacts-form {
>>>>>>> master
  background-color: @whiteback;
<<<<<<< HEAD

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
  }
||||||| a0bffda
=======
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 75px;
    margin: 0 60px;
  }
>>>>>>> master
}

.forms__contacts-form label {
  color: @pinkred;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
  margin-left: 24px;
  margin-bottom: 17px;
  padding-top: 29px;

  @media (min-width: @desktop-width) {
    margin-right: 37px;
    padding-top: 22px;
    padding-bottom: 23px;
    margin-bottom: 0;
  }
}

<<<<<<< HEAD
.forms__contacts-phone {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.forms__mail {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.forms {
  &__phone-input,
  &__mail-input {
||||||| a0bffda
.forms {
  &__phone-input,
  &__mail-input {
=======
.forms__contacts-phone {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.forms__mail {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.forms__contacts-form input {
  display: block;
  position: relative;
>>>>>>> master
    font-size: 18px;
    height: 13px;
    color: @darkbluetextcolor;
    padding-top: 22px;
    padding-bottom: 23px;
    padding-left: 21px;
    border: 2px solid @borderlightgray;
    border-radius: 1px;
    z-index: 1;

  @media (min-width: @tablet-width) {
    width: 470px;
  }

  @media (min-width: @desktop-width) {
    width: 343px;
  }
}

.forms__phone-icon {
  text-align: left;
  z-index: 2;
  position: relative;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      background-image: url(../img/phone-icon.svg);
      background-repeat: no-repeat;
      top: -84px;
      left: 413px;
  }
}
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      background-image: url(../img/phone-icon.svg);
      background-repeat: no-repeat;
      top: -78px;
      left: 289px;
    }
  }
}

.forms__mail-icon {
  z-index: 3;
  position: relative;

    @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      background-image: url(../img/mail-icon.svg);
      top: -84px;
      left: 413px;
      background-repeat: no-repeat;
      }
    }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      background-image: url(../img/mail-icon.svg);
      top: -78px;
      left: 289px;
      background-repeat: no-repeat;
    }
  }
}


.forms__mobile-system-wrapper {
  background-color: @greybackground;
  order: 4;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: @whiteback;
  }
}

.forms__mobile-system-wrapper {
  order: 4;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.forms__mobile-system {
  min-width: 280px;
  background-color: @greybackground;

  @media (min-width: @tablet-width) {
    background-color: @whiteback;
    margin-right: 0;
  }
}

.forms__system-fields {
  border: none;

  @media (min-width: @tablet-width) {
  display: block;
  border: 2px solid @borderlightgray;
  border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.forms__mobile-system label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pinkred;
  display: block;
}

.forms__mobile-system-title {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pinkred;
  padding-top: 42px;
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-top: 46px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.forms__mobile-system label {
  position: relative;
  font-size: 18px;
  line-height: 13px;
  align-items: center;
  color: @darkbluetextcolor;
  display: block;
  margin-bottom: 62px;
  margin-left: 70px;
  color: @darkbluetextcolor;

  @media (min-width: @desktop-width) {
    margin-left: 144px;
    margin-bottom: 63px;
  }
}

.forms__mobile-system label:last-child {
  margin-bottom: 52px;
}

.forms__mobile-system input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.forms__mobile-system input::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: @whiteback;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
  top: -7px;
  left: -66px;
}


.forms__mobile-system input:checked::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -66px;
  width: 37px;
  height: 37px;
  background-color: @whiteback;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
}

.forms__mobile-system input:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -53px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @pinkred;
}

.forms__comments-wrapper {
  min-width: 280px;
  margin: 0 20px;
  order: 5;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.forms__coments-describe {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pinkred;
  margin-top: 42px;
  margin-bottom: 22px;
}

.forms__coments-describe {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pinkred;
  margin-top: 42px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width){
    padding-left: 38px;
    padding-right: 38px;
  }
}

.forms__comments-wrapper {
  order: 5;
  margin-bottom: 26px;
  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}

.forms__textarea {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: @darkbluetextcolor;
  text-align: center;
<<<<<<< HEAD

  @media (min-width: @tablet-width) {
    min-width: 500px;
  }

  @media (min-width: @desktop-width) {
    min-width: 816px;
  }
}

.forms__submit {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
||||||| a0bffda
=======
  min-width: 280px;
  min-height: 197px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  margin-bottom: 52px;
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 816px;
    min-height: 124px;
    margin-left: 64px;
    margin-right: 64px;
  }
}

.forms__submit {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.forms__submit-button {
  min-width: 276px;
  display: block;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
  color: @whiteback;
  background-color: @greanbutton;
  border: 2px solid @greanbutton;
  border-radius: 1px;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 52px;
  }

>>>>>>> master
}

.forms__required-fields {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @darkbluetextcolor;
}

.forms__star {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pinkred;
}
