.main-navigation {
  background-color: rgba(0,0,0,0.3);
  list-style: none;
  color: @whiteback;
}

.navigation-list {
  list-style: none;
  color: @whiteback;
}

.navigation-list__item {
  color: @whiteback;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  text-transform: uppercase;
}

