.navigation-list {
  display: inline-block;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .navigation-list {
    width: 620px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .navigation-list {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }
}


