.page-header {
  display: flex;
  flex-direction: column;
  background-color: @black;
  list-style: none;
  color: @whiteback;
}

.page-header__wraper {
  width: 280px;
  margin: 0 auto;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
}

.navigation-list a {
  color: @whiteback;
}

.navigation-list__catalog-title {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-weight: 300;
}

.page-header__competition-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @whiteback;
}

.page-header__logo {
  height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 110px;
  }
  .page-header__wraper {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-header__wraper {
    width: 940px;
  }
}


