.reviews {
  background-color: @whiteback;
}

.reviews__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @black;
}

.reviews__reviews-body {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @darkbluetextcolor;
}
