.reviews {
  position: relative;
  background-color: @whiteback;
  margin-top: -75px;
  z-index: 5;

  @media (min-width: @tablet-width) {
    margin-top: 109px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-top: 193px;

    &::before {
      content: "";
      position: absolute;
      width: 79px;
      height: 63px;
      background-image: url(../img/quotes.svg);
      top: -121px;
      left: 47%;
    }
  }
}

.reviews__reviews-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @whiteback;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 800px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1100px;
    padding-right: 130px;
    padding-left: 130px;
  }
}

.reviews__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  color: @black;
  margin-top: 50px;
  margin-bottom: 31px;
  order: 0;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-top: 0;
    line-height: 15px;
  }

  @media (min-width: @desktop-width) {
    line-height: 18px;
  }
}

.reviews__autor-describe {
  display: none;
}

.reviews__reviews-body {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 44px;
  color: @darkbluetextcolor;
  order: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-left: 126px;
    margin-right: 126px;
    margin-bottom: 50px;
  }
}

.slider__toggles {
  margin-top: 0;
  padding-bottom: 49px;
  padding-top: 45px;
  margin-bottom: 0;
  display: flex;
justify-content: center;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__toggle {
  position: relative;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  margin-right: 19px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: @darkbluetextcolor;
    opacity: 0.3;
    border-radius: 50%;

  }
}

.slider__toggle--current {
&::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: @darkbluetextcolor;
  border-radius: 50%;
}

&::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: -3px;
  left: -3px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  border: 3px solid @darkbluetextcolor;
}
}

@media (min-width: @tablet-width) {

  .reviews__autor-describe {
    display: block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: @darkbluetextcolor;
  }
}

.reviews__desktop-button{
    display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reviews__prev {
  position: absolute;
  width: 22px;
  height: 41px;
  padding: 0;
  border: none;
  background-color:transparent;
  top: 20px;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 41px;
    background-image: url(../img/left-arrow.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
}

.reviews__next {
  position: absolute;
  width: 22px;
  height: 41px;
  border: none;
  background-color: transparent;
  top: 20px;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 41px;
    background-image: url(../img/left-arrow.svg);
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    transform: rotate(180deg);
  }
}

  .reviews__reviews-list {
    position: relative;
    background-color: @whiteback;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .reviews__autor-describe {
    order: 2;
  }
