// Начните писать стили здесь

// Colors, Vievports
@import "./global/variables.less";

@whiteback: #FFFFFF;
@darkbluetextcolor: #283645;
@black: #000000;
@blueback: #1D2631;
@greybackground: #F2F2F2;
@pinkred:  #D22856;

//Font
// @import("global/fonts.less");
@import "./global/fonts.less";

//Global
// @import("global/global.less")
@import "./global/global.less";



// Blocks
// @import("blocks/page.less")
@import "./blocks/page.less";

// @import("blocks/page-header.less")

@import "./blocks/page-header.less";

// @import("blocks/main-navigation.less")

@import "./blocks/main-navigation.less";

// @import("blocks/navigation-list.less")

@import "./blocks/navigation-list.less";

// @import("blocks/download-aplication.less")

@import "./blocks/download-aplication.less";

// @import("blocks/advantages.less")

@import "./blocks/advantages.less";

// @import("blocks/reviews.less")

@import "./blocks/reviews.less";

// @import("blocks/price.less")

@import "./blocks/price.less";

// @import("blocks/contacts.less")

@import "./blocks/contacts.less";

// @import("blocks/page-footer.less")

@import "./blocks/page-footer.less";

//Catalog

// @import("blocks/catalog.less")

@import "./blocks/catalog.less";

// @import("blocks/photos-setings.less")

@import "./blocks/photos-setings.less";

//Forms

// @import("blocks/page-header.less")

@import "./blocks/page-header.less";

// @import("blocks/forms.less")

@import "./blocks/forms.less";






